name: Static Website CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: List Files
        run: ls -R

      - name: Build / Deploy Placeholder
        run: echo "Static website files are ready!"
