name: Static Website CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Verify Files
        run: ls -R

      - name: Success Message
        run: echo "Static website pipeline successful!"
